Copy of *.PcbDoc
Project Outputs for */ASCII/
Project Outputs for */IPC-2581 Files/
Project Outputs for */ExportSTEP/
Project Outputs for */**/Status Report.Txt
Project Outputs for */Status Report.Txt
